@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<GameListTable Games="anotherGames"/>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    List<Game> anotherGames;

    protected override void OnInitialized()
    {
        anotherGames = new List<Game>()
    {
            new Game()
            {
                Name = "Test counter",
                Genre = "Counter",
                ReleaseDte = new DateTime(2012, 11, 19)
            }
        };
    }
}
