@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Datebase:</h2>
    </div>
</div>

<GameListTable Games="games" />

@code {

    List<Game> games;

    protected override void OnInitialized()
    {
        games = new List<Game>()
    {
            new Game()
            {
                Name = "Farm Simulator 2019",
                Genre = "Simulator",
                ReleaseDte = new DateTime(2018, 11, 19)
            },
            new Game()
            {
                Name = "The Witcher 3",
                Genre = "Action/RPG",
                ReleaseDte = new DateTime(2015, 05, 18)
            },
            new Game()
            {
                Name = "Destroy All Humans",
                Genre = "Action-Adventure",
                ReleaseDte = new DateTime(2020, 07, 28)
            }
        };
    }
}